In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Zomato_Dataset.csv")

print(df.shape)
df.head()

(45584, 20)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  43853 non-null  object
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 7.0+ MB

In [4]:
df["Delivery_person_Age"] = pd.to_numeric(
    df["Delivery_person_Age"], errors="coerce"
)

In [5]:
df["Order_Date"] = pd.to_datetime(
    df["Order_Date"], dayfirst=True, errors="coerce"
)

In [7]:
df.rename(columns={
    "Time_Orderd": "Time_Ordered",
    "Time_Order_picked": "Time_Order_Picked"  # keep naming consistent
}, inplace=True)

In [8]:
df.columns = df.columns.str.strip()

In [9]:
print(df.columns)

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Ordered',
       'Time_Order_Picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)'],
      dtype='object')

In [10]:
df["Time_Ordered"] = pd.to_datetime(
    df["Time_Ordered"], errors="coerce"
).dt.time

df["Time_Order_Picked"] = pd.to_datetime(
    df["Time_Order_Picked"], errors="coerce"
).dt.time

C:\Users\aswat\AppData\Local\Temp\ipykernel_6904\3098256747.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Time_Ordered"] = pd.to_datetime(
C:\Users\aswat\AppData\Local\Temp\ipykernel_6904\3098256747.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Time_Order_Picked"] = pd.to_datetime(

In [12]:
df["Order_Date"] = pd.to_datetime(
    df["Order_Date"], dayfirst=True, errors="coerce"
)

In [13]:
import numpy as np

def calculate_delivery_minutes(row):
    if pd.isna(row["Time_Ordered"]) or pd.isna(row["Time_Order_Picked"]) or pd.isna(row["Order_Date"]):
        return np.nan

    ordered = pd.to_datetime(str(row["Order_Date"]) + " " + str(row["Time_Ordered"]))
    picked  = pd.to_datetime(str(row["Order_Date"]) + " " + str(row["Time_Order_Picked"]))

    # handle midnight crossing
    if picked < ordered:
        picked += pd.Timedelta(days=1)

    return (picked - ordered).total_seconds() / 60


df["Delivery_Time_Minutes"] = df.apply(calculate_delivery_minutes, axis=1)

In [14]:
df["Delivery_Time_Minutes"] = (
    df["Delivery_Time_Minutes"]
    .round()
    .astype("Int64")
)

In [15]:
df = df[df["Delivery_Time_Minutes"].isna() | (df["Delivery_Time_Minutes"] <= 180)]

In [16]:
df[["Order_Date", "Time_Ordered", "Time_Order_Picked"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order_Date         45584 non-null  datetime64[ns]
 1   Time_Ordered       39785 non-null  object
 2   Time_Order_Picked  40577 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 1.0+ MB

In [17]:
df["Delivery_Time_Minutes"].describe()

count     35407.0
mean     9.944926
std      4.086433
min           5.0
25%           5.0
50%          10.0
75%          15.0
max          15.0
Name: Delivery_Time_Minutes, dtype: Float64

In [18]:
df.loc[df["Delivery_person_Age"] < 18, "Delivery_person_Age"] = np.nan
df.loc[df["Delivery_person_Age"] > 65, "Delivery_person_Age"] = np.nan

In [19]:
df["Delivery_person_Age"].describe()

count    43692.000000
mean        29.579580
std          5.801695
min         20.000000
25%         25.000000
50%         30.000000
75%         35.000000
max         50.000000
Name: Delivery_person_Age, dtype: float64

In [20]:
df["Delivery_person_Ratings"] = pd.to_numeric(
    df["Delivery_person_Ratings"], errors="coerce"
)

In [21]:
df["Delivery_person_Ratings"].describe()

count    43676.000000
mean         4.633774
std          0.334744
min          1.000000
25%          4.500000
50%          4.700000
75%          4.900000
max          6.000000
Name: Delivery_person_Ratings, dtype: float64

In [22]:
df.duplicated().sum()

np.int64(0)

In [23]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43692 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  datetime64[ns]
 9   Time_Ordered                 39785 non-null  object
 10  Time_Order_Picked            40577 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
 20  Delivery_Time_Minutes        35407 non-null  Int64
dtypes: Int64(1), datetime64[ns](1), float64(7), int64(2), object(10)
memory usage: 7.3+ MB

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Ordered,...,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Delivery_Time_Minutes
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,2022-02-12,21:55:00,...,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,15
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,2022-02-13,14:55:00,...,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,10
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,2022-03-04,17:30:00,...,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,10
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,2022-02-13,09:20:00,...,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,10
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,2022-02-14,19:50:00,...,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,15

In [24]:
df.to_csv("zomato_cleaned.csv", index=False)

In [3]:
!pip install sqlalchemy pymysql

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp310-cp310-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\aswat\miniconda3\envs\cudaenv\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.45-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 644.1 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/2.1 MB 644.1 kB/s eta 0:00:03
   -------------- ------------------------- 0.8/2.1 MB 644.9 kB/s eta 0:00:03
   -------------- ------------------------- 0.8/2.1 MB 644.9 kB/s eta 0:00:03
   ------------------- -------------------- 1.0/2.1 MB 729.5 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 789.6 kB/s eta 0:00:02
   ----------------------------- ---------- 1.6/2.1 MB 838.6 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 831.8 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 831.8 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 851.3 kB/s  0:00:02
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Downloading greenlet-3.3.0-cp310-cp310-win_amd64.whl (300 kB)
Installing collected packages: pymysql, greenlet, sqlalchemy

   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.3.0 pymysql-1.1.2 sqlalchemy-2.0.45

In [5]:
!pip install cryptography

Collecting cryptography
  Downloading cryptography-46.0.3-cp38-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=2.0.0 in c:\users\aswat\miniconda3\envs\cudaenv\lib\site-packages (from cryptography) (2.0.0)
Requirement already satisfied: typing-extensions>=4.13.2 in c:\users\aswat\miniconda3\envs\cudaenv\lib\site-packages (from cryptography) (4.15.0)
Requirement already satisfied: pycparser in c:\users\aswat\miniconda3\envs\cudaenv\lib\site-packages (from cffi>=2.0.0->cryptography) (2.23)
Downloading cryptography-46.0.3-cp38-abi3-win_amd64.whl (3.5 MB)
   ---------------------------------------- 0.0/3.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.5 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.5 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.5 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.5 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.5 MB 381.0 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/3.5 MB 381.0 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/3.5 MB 381.0 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/3.5 MB 381.0 kB/s eta 0:00:08
   -------- ------------------------------- 0.8/3.5 MB 360.8 kB/s eta 0:00:08
   -------- ------------------------------- 0.8/3.5 MB 360.8 kB/s eta 0:00:08
   -------- ------------------------------- 0.8/3.5 MB 360.8 kB/s eta 0:00:08
   ----------- ---------------------------- 1.0/3.5 MB 384.2 kB/s eta 0:00:07
   ----------- ---------------------------- 1.0/3.5 MB 384.2 kB/s eta 0:00:07
   -------------- ------------------------- 1.3/3.5 MB 409.1 kB/s eta 0:00:06
   -------------- ------------------------- 1.3/3.5 MB 409.1 kB/s eta 0:00:06
   ----------------- ---------------------- 1.6/3.5 MB 441.5 kB/s eta 0:00:05
   ----------------- ---------------------- 1.6/3.5 MB 441.5 kB/s eta 0:00:05
   -------------------- ------------------- 1.8/3.5 MB 466.0 kB/s eta 0:00:04
   -------------------- ------------------- 1.8/3.5 MB 466.0 kB/s eta 0:00:04
   ----------------------- ---------------- 2.1/3.5 MB 481.2 kB/s eta 0:00:03
   ----------------------- ---------------- 2.1/3.5 MB 481.2 kB/s eta 0:00:03
   ----------------------- ---------------- 2.1/3.5 MB 481.2 kB/s eta 0:00:03
   -------------------------- ------------- 2.4/3.5 MB 479.3 kB/s eta 0:00:03
   -------------------------- ------------- 2.4/3.5 MB 479.3 kB/s eta 0:00:03
   -------------------------- ------------- 2.4/3.5 MB 479.3 kB/s eta 0:00:03
   ----------------------------- ---------- 2.6/3.5 MB 474.8 kB/s eta 0:00:02
   ----------------------------- ---------- 2.6/3.5 MB 474.8 kB/s eta 0:00:02
   ----------------------------- ---------- 2.6/3.5 MB 474.8 kB/s eta 0:00:02
   -------------------------------- ------- 2.9/3.5 MB 468.6 kB/s eta 0:00:02
   -------------------------------- ------- 2.9/3.5 MB 468.6 kB/s eta 0:00:02
   -------------------------------- ------- 2.9/3.5 MB 468.6 kB/s eta 0:00:02
   ----------------------------------- ---- 3.1/3.5 MB 466.0 kB/s eta 0:00:01
   ----------------------------------- ---- 3.1/3.5 MB 466.0 kB/s eta 0:00:01
   ----------------------------------- ---- 3.1/3.5 MB 466.0 kB/s eta 0:00:01
   -------------------------------------- - 3.4/3.5 MB 463.9 kB/s eta 0:00:01
   ---------------------------------------- 3.5/3.5 MB 459.7 kB/s  0:00:07
Installing collected packages: cryptography
Successfully installed cryptography-46.0.3

In [6]:
engine = create_engine(
    "mysql+pymysql://root:YOUR_PASSWORD@localhost:3306/zomato_analytics",
    connect_args={"auth_plugin": "mysql_native_password"}
)

In [9]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp310-cp310-win_amd64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp310-cp310-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 932.9 kB/s eta 0:00:18
   - -------------------------------------- 0.8/16.5 MB 987.4 kB/s eta 0:00:16
   - -------------------------------------- 0.8/16.5 MB 987.4 kB/s eta 0:00:16
   -- ------------------------------------- 1.0/16.5 MB 868.0 kB/s eta 0:00:18
   --- ------------------------------------ 1.3/16.5 MB 883.4 kB/s eta 0:00:18
   --- ------------------------------------ 1.3/16.5 MB 883.4 kB/s eta 0:00:18
   --- ------------------------------------ 1.6/16.5 MB 806.6 kB/s eta 0:00:19
   --- ------------------------------------ 1.6/16.5 MB 806.6 kB/s eta 0:00:19
   ---- ----------------------------------- 1.8/16.5 MB 799.2 kB/s eta 0:00:19
   ---- ----------------------------------- 1.8/16.5 MB 799.2 kB/s eta 0:00:19
   ----- ---------------------------------- 2.1/16.5 MB 783.2 kB/s eta 0:00:19
   ----- ---------------------------------- 2.1/16.5 MB 783.2 kB/s eta 0:00:19
   ----- ---------------------------------- 2.4/16.5 MB 729.4 kB/s eta 0:00:20
   ----- ---------------------------------- 2.4/16.5 MB 729.4 kB/s eta 0:00:20
   ------ --------------------------------- 2.6/16.5 MB 740.3 kB/s eta 0:00:19
   ------ --------------------------------- 2.6/16.5 MB 740.3 kB/s eta 0:00:19
   ------ --------------------------------- 2.6/16.5 MB 740.3 kB/s eta 0:00:19
   ------ --------------------------------- 2.9/16.5 MB 676.5 kB/s eta 0:00:21
   ------- -------------------------------- 3.1/16.5 MB 707.1 kB/s eta 0:00:19
   ------- -------------------------------- 3.1/16.5 MB 707.1 kB/s eta 0:00:19
   -------- ------------------------------- 3.4/16.5 MB 699.0 kB/s eta 0:00:19
   -------- ------------------------------- 3.7/16.5 MB 727.1 kB/s eta 0:00:18
   -------- ------------------------------- 3.7/16.5 MB 727.1 kB/s eta 0:00:18
   --------- ------------------------------ 3.9/16.5 MB 734.0 kB/s eta 0:00:18
   --------- ------------------------------ 3.9/16.5 MB 734.0 kB/s eta 0:00:18
   --------- ------------------------------ 3.9/16.5 MB 734.0 kB/s eta 0:00:18
   --------- ------------------------------ 3.9/16.5 MB 734.0 kB/s eta 0:00:18
   ---------- ----------------------------- 4.2/16.5 MB 662.3 kB/s eta 0:00:19
   ---------- ----------------------------- 4.2/16.5 MB 662.3 kB/s eta 0:00:19
   ---------- ----------------------------- 4.5/16.5 MB 664.5 kB/s eta 0:00:19
   ----------- ---------------------------- 4.7/16.5 MB 684.0 kB/s eta 0:00:18
   ----------- ---------------------------- 4.7/16.5 MB 684.0 kB/s eta 0:00:18
   ----------- ---------------------------- 4.7/16.5 MB 684.0 kB/s eta 0:00:18
   ------------ --------------------------- 5.0/16.5 MB 669.6 kB/s eta 0:00:18
   ------------ --------------------------- 5.2/16.5 MB 678.3 kB/s eta 0:00:17
   ------------ --------------------------- 5.2/16.5 MB 678.3 kB/s eta 0:00:17
   ------------- -------------------------- 5.5/16.5 MB 675.2 kB/s eta 0:00:17
   ------------- -------------------------- 5.5/16.5 MB 675.2 kB/s eta 0:00:17
   ------------- -------------------------- 5.8/16.5 MB 678.9 kB/s eta 0:00:16
   -------------- ------------------------- 6.0/16.5 MB 695.1 kB/s eta 0:00:16
   --------------- ------------------------ 6.3/16.5 MB 709.3 kB/s eta 0:00:15
   --------------- ------------------------ 6.6/16.5 MB 716.5 kB/s eta 0:00:14
   --------------- ------------------------ 6.6/16.5 MB 716.5 kB/s eta 0:00:14
   ---------------- ----------------------- 6.8/16.5 MB 719.5 kB/s eta 0:00:14
   ---------------- ----------------------- 6.8/16.5 MB 719.5 kB/s eta 0:00:14
   ----------------- ---------------------- 7.1/16.5 MB 708.1 kB/s eta 0:00:14
   ----------------- ---------------------- 7.3/16.5 MB 714.5 kB/s eta 0:00:13
   ----------------- ---------------------- 7.3/16.5 MB 714.5 kB/s eta 0:00:13
   ------------------ --------------------- 7.6/16.5 MB 718.3 kB/s eta 0:00:13
   ------------------- -------------------- 7.9/16.5 MB 721.9 kB/s eta 0:00:12
   ------------------- -------------------- 7.9/16.5 MB 721.9 kB/s eta 0:00:12
   ------------------- -------------------- 8.1/16.5 MB 728.4 kB/s eta 0:00:12
   -------------------- ------------------- 8.4/16.5 MB 726.4 kB/s eta 0:00:12
   -------------------- ------------------- 8.4/16.5 MB 726.4 kB/s eta 0:00:12
   -------------------- ------------------- 8.4/16.5 MB 726.4 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.5 MB 721.6 kB/s eta 0:00:11
   -------------------- ------------------- 8.7/16.5 MB 721.6 kB/s eta 0:00:11
   -------------------- ------------------- 8.7/16.5 MB 721.6 kB/s eta 0:00:11
   --------------------- ------------------ 8.9/16.5 MB 706.2 kB/s eta 0:00:11
   ---------------------- ----------------- 9.2/16.5 MB 709.5 kB/s eta 0:00:11
   ---------------------- ----------------- 9.2/16.5 MB 709.5 kB/s eta 0:00:11
   ---------------------- ----------------- 9.4/16.5 MB 705.8 kB/s eta 0:00:11
   ---------------------- ----------------- 9.4/16.5 MB 705.8 kB/s eta 0:00:11
   ---------------------- ----------------- 9.4/16.5 MB 705.8 kB/s eta 0:00:11
   ----------------------- ---------------- 9.7/16.5 MB 698.3 kB/s eta 0:00:10
   ----------------------- ---------------- 9.7/16.5 MB 698.3 kB/s eta 0:00:10
   ------------------------ --------------- 10.0/16.5 MB 695.1 kB/s eta 0:00:10
   ------------------------ --------------- 10.2/16.5 MB 699.0 kB/s eta 0:00:09
   ------------------------ --------------- 10.2/16.5 MB 699.0 kB/s eta 0:00:09
   ------------------------- -------------- 10.5/16.5 MB 695.3 kB/s eta 0:00:09
   ------------------------- -------------- 10.5/16.5 MB 695.3 kB/s eta 0:00:09
   -------------------------- ------------- 10.7/16.5 MB 693.3 kB/s eta 0:00:09
   -------------------------- ------------- 10.7/16.5 MB 693.3 kB/s eta 0:00:09
   -------------------------- ------------- 11.0/16.5 MB 690.6 kB/s eta 0:00:08
   -------------------------- ------------- 11.0/16.5 MB 690.6 kB/s eta 0:00:08
   -------------------------- ------------- 11.0/16.5 MB 690.6 kB/s eta 0:00:08
   --------------------------- ------------ 11.3/16.5 MB 682.2 kB/s eta 0:00:08
   --------------------------- ------------ 11.3/16.5 MB 682.2 kB/s eta 0:00:08
   --------------------------- ------------ 11.5/16.5 MB 683.2 kB/s eta 0:00:08
   --------------------------- ------------ 11.5/16.5 MB 683.2 kB/s eta 0:00:08
   ---------------------------- ----------- 11.8/16.5 MB 683.5 kB/s eta 0:00:07
   ---------------------------- ----------- 11.8/16.5 MB 683.5 kB/s eta 0:00:07
   ----------------------------- ---------- 12.1/16.5 MB 680.8 kB/s eta 0:00:07
   ----------------------------- ---------- 12.1/16.5 MB 680.8 kB/s eta 0:00:07
   ----------------------------- ---------- 12.3/16.5 MB 677.0 kB/s eta 0:00:07
   ----------------------------- ---------- 12.3/16.5 MB 677.0 kB/s eta 0:00:07
   ------------------------------ --------- 12.6/16.5 MB 676.9 kB/s eta 0:00:06
   ------------------------------ --------- 12.6/16.5 MB 676.9 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 675.0 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 675.0 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 675.0 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 675.0 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 675.0 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 675.0 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 675.0 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 675.0 kB/s eta 0:00:06
   ------------------------------- -------- 13.1/16.5 MB 636.3 kB/s eta 0:00:06
   ------------------------------- -------- 13.1/16.5 MB 636.3 kB/s eta 0:00:06
   ------------------------------- -------- 13.1/16.5 MB 636.3 kB/s eta 0:00:06
   ------------------------------- -------- 13.1/16.5 MB 636.3 kB/s eta 0:00:06
   -------------------------------- ------- 13.4/16.5 MB 621.8 kB/s eta 0:00:06
   -------------------------------- ------- 13.4/16.5 MB 621.8 kB/s eta 0:00:06
   --------------------------------- ------ 13.6/16.5 MB 623.7 kB/s eta 0:00:05
   --------------------------------- ------ 13.6/16.5 MB 623.7 kB/s eta 0:00:05
   --------------------------------- ------ 13.9/16.5 MB 624.5 kB/s eta 0:00:05
   --------------------------------- ------ 13.9/16.5 MB 624.5 kB/s eta 0:00:05
   ---------------------------------- ----- 14.2/16.5 MB 622.3 kB/s eta 0:00:04
   ---------------------------------- ----- 14.2/16.5 MB 622.3 kB/s eta 0:00:04
   ---------------------------------- ----- 14.2/16.5 MB 622.3 kB/s eta 0:00:04
   ---------------------------------- ----- 14.4/16.5 MB 618.4 kB/s eta 0:00:04
   ---------------------------------- ----- 14.4/16.5 MB 618.4 kB/s eta 0:00:04
   ----------------------------------- ---- 14.7/16.5 MB 616.0 kB/s eta 0:00:03
   ----------------------------------- ---- 14.7/16.5 MB 616.0 kB/s eta 0:00:03
   ----------------------------------- ---- 14.7/16.5 MB 616.0 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.5 MB 610.5 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.5 MB 610.5 kB/s eta 0:00:03
   ------------------------------------ --- 15.2/16.5 MB 611.5 kB/s eta 0:00:03
   ------------------------------------ --- 15.2/16.5 MB 611.5 kB/s eta 0:00:03
   ------------------------------------ --- 15.2/16.5 MB 611.5 kB/s eta 0:00:03
   ------------------------------------ --- 15.2/16.5 MB 611.5 kB/s eta 0:00:03
   ------------------------------------- -- 15.5/16.5 MB 604.4 kB/s eta 0:00:02
   ------------------------------------- -- 15.5/16.5 MB 604.4 kB/s eta 0:00:02
   -------------------------------------- - 15.7/16.5 MB 602.8 kB/s eta 0:00:02
   -------------------------------------- - 15.7/16.5 MB 602.8 kB/s eta 0:00:02
   -------------------------------------- - 16.0/16.5 MB 602.8 kB/s eta 0:00:01
   -------------------------------------- - 16.0/16.5 MB 602.8 kB/s eta 0:00:01
   -------------------------------------- - 16.0/16.5 MB 602.8 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 600.3 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 600.3 kB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 600.1 kB/s  0:00:27
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [10]:
from sqlalchemy import create_engine
engine = create_engine(
    "mysql+mysqlconnector://root:YOUR_PASSWORD@localhost:3306/zomato_analytics"
)

In [11]:
df.to_sql(
    name="zomato_orders",
    con=engine,
    if_exists="replace",
    index=False
)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)
(Background on this error at: https://sqlalche.me/e/20/f405)

In [13]:
engine = create_engine(
    "mysql+mysqlconnector://root:leodas%402006@localhost:3306/zomato_analytics"
)

In [19]:

engine = create_engine(
    "mysql+mysqlconnector://root:leodas@2006@localhost:3306/zomato_analytics"
)

In [21]:
engine = create_engine(
    "mysql+mysqlconnector://root:leodas%402006@localhost:3306/zomato_analytics"
)

In [22]:

df.to_sql("zomato_orders", engine, if_exists="replace", index=False)

print("Upload completed")

Upload completed